 /*!
 * WIKIPEDIA PREVIEW BOXES
 * su-pa.net (c) version 12/10/2021, 1.0.0, nick, MIT-License
 * https://su-pa.net/wikiPrevBox/ :: project page
 */
@font-face {
    font-family: 'Wiki_SegoeWP-Semilight';
    src: url('SegoeWP-Semilight.woff2') format('woff2');
}
@font-face {
    font-family: 'wiki-w';
    src: url('wiki-W.woff2') format('woff2'); /* font with only one char: 'W'! */
    font-weight: 100;
}

/*#region Wikipedia links in text*/
a.wikiLink, a.wikiLink::after {
    display: inline-block;
    cursor: pointer;
}
a.wikiLink {
    white-space: nowrap;
    text-decoration: none;
    margin-right: 0.6em;
}
a.wikiLink_rtl { /*right-to-left content*/
	margin-right: 0;
	margin-left: 0.6em;
}
a.wikiLink::after {
    font-family: 'wiki-w', Garamond, serif;
    padding: 0;
    font-size: 0.7em;
    position: absolute;
    background: none;
    content: 'W' !important;        
    margin: -0.25em 0 auto -1px;
    color: inherit; /* 'W' has the same color as the Wikipedia link */
}
/*#endregion*/

/*#region preview box*/
.wikiPreviewBox {
    position: absolute;
    background-color: white;
    font-family: 'Wiki_SegoeWP-Semilight','Segoe UI',Frutiger,Myriad,Tahoma,Geneva,Verdana,sans-serif;
    font-size: 0.9em;
    height: auto;
    max-width: 100%;
    -webkit-box-shadow: 0 30px 90px -20px rgb(0 0 0/30%), 0 0 1px #a2a9b1; /*shadows like on wikipedia*/
    box-shadow: 0 30px 90px -20px rgb(0 0 0/30%), 0 0 1px #a2a9b1;
    cursor: pointer;
    opacity: 0;
    transition: all 0.4s;
    z-index: 9999;
    color: #262421;
    overscroll-behavior: none;
}
.wikiPreviewBox::-webkit-scrollbar { width: 0 !important }
    .wikiPreviewBox img {
        width: 100%;
        margin: 0;
        padding: 0;
        object-fit: cover;
        max-height: 250px;
        object-position: 50% 15%;
    }
    .wikiPreviewBox > p {
        margin: 0;
        line-height: 1.4em;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        padding: 10px;
        font-size: inherit;
        color: #262421;
    }
    .wikiPreviewBox ul{
        list-style-type: none;
        list-style-image: url(bullet.gif);
        padding: 0 10px 10px 12px;
        margin-left:20px;
    } 
.wikiPrevOpa{opacity:1;}
/*#region footer*/
[class^="wikiBoxfooter_"]{ /* '..._ltr' or '..._rtl': text direction*/
    margin: 0 auto 20px 10px;
    max-width: 83%; /* avoid overlapping (W) */
    line-height: 1.3em;
    display: inline-block;
    color: #262421;   
}
.wikiBoxfooter_rtl{
    direction:rtl;
    margin: 0 10px 20px auto;
    width: 100%;
    display: block;
}
.wikiBoxfooter_ltr{
    direction:ltr;
    margin: 0 auto 20px 10px;
    /* width: 100%; */
    display: block;
}
[class^="wikiBoxfooter_"] a{
    text-decoration: none;
    font-weight: bold;
    color:#3863c1; /* color on wikipedia.org is #0645ad; */
}
[class^="wikiBoxfooter_"] a::after, .wikiPreviewBox a::after { /*remove 'external link icons' & etc. if any*/
    content:'' !important; padding:0;
}

/*'W'-logo*/
[class^="wikiBoxLogo-w_"]{
    font-family: 'wiki-w';
    font-size: 1.7em !important;
    display: inline-block;
    color:#262421;
    position: absolute;
    bottom: 4px;
}
.wikiBoxLogo-w_ltr {right: 8px;}
.wikiBoxLogo-w_rtl {left: 8px;}
/*#endregion*/
/*#endregion*/